<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      MustSeeMoviesAssociations
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a href="/directors" class="nav-link">
            Directors
          </a>
        </li>

        <li class="nav-item">
          <a href="/movies" class="nav-link">
            Movies
          </a>
        </li>

      </ul>

    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
